<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sport-y: Активный отдых в Москве</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdz8bZDHO5dagkCgLBU4ygiFQH1kpQxy0&sensor=true&language=ru"></script>
    <script type="text/javascript">
        function initialize(lat, lng, toDisplay) {
	    var pos = new google.maps.LatLng(lat, lng);
	    var mapOptions = {
	        center: pos,
		zoom: 8
	    };
	    var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
	    google.maps.Map.prototype.myLocationInfowindow = new google.maps.InfoWindow({ content: "ВЫ ЗДЕСЬ" });
	    var loc = new google.maps.Marker({
	        position: pos, 
	        map: map,
	        title: "Вы здесь",
	        infowindow: google.maps.Map.prototype.myLocationInfowindow
	    });
	    google.maps.Map.prototype.myLocation = loc;
	    loc.infowindow.open(map, loc);

	    var markers = [];
	    var activeMarkerId = "";
	    google.maps.event.addListener(google.maps.Map.prototype.myLocation, "click", function() { this.infowindow.open(map, this); });

	    function setActiveMarker(newCustomId) {
		var oldMarker = markers[activeMarkerId];
		if (oldMarker) {
		    oldMarker.infowindow.close(oldMarker.map, oldMarker);
		    $("#" + activeMarkerId).removeClass("active");
		}
		activeMarkerId = newCustomId;
		var newMarker = markers[newCustomId];
		newMarker.infowindow.open(newMarker.map, newMarker);
		$("#" + newCustomId).addClass("active");
	    }

	    if (toDisplay) {
	        for (var i = 0; i < toDisplay.length; i++) {
		    var m_lat = toDisplay[i]["lat"];
		    var m_lon = toDisplay[i]["lon"];

		    var badData = ["null", "нет данных", "нет", "нет дынных"];
		    var info = "";
		    var hrs = toDisplay[i]["hours"];
		    if (hrs && (badData.indexOf(hrs) < 0)) { info = info + "Часы работы: " + hrs + '<br>'; }
		    var phone = toDisplay[i]["phone"];
		    if (phone && (badData.indexOf(phone) < 0)) { info = info + "Телефон: " + phone + '<br>'; }
		    var email = toDisplay[i]["email"];
		    if (email && (badData.indexOf(email) < 0)) { info = info + "e-mail: " + email + '<br>'; }
		    var web = toDisplay[i]["web"];
		    if (web && (badData.indexOf(web) < 0)) {
			var www = "";
			if (web.substring(0, 7) == "http://") {
			    www = web.substring(7);
			} else { www = web; }
			info += '<a href="http://' + www + '">' + www + '</a>';
		    }
		    var contentString = '<div id="content">'+
				    '<div id="siteNotice">'+
				    '</div>'+
				    '<h4 id="firstHeading" class="firstHeading">' + toDisplay[i]["short_name"] + '</h4>' +
				    '<div id="bodyContent">' +
				    '<p>' + toDisplay[i]["address"] + '<br>' + info + '</p>'+
				    '</div>'+
				    '</div>';
		    var infowindow = new google.maps.InfoWindow({ content: contentString });
		    var customId = String(i);
		    var marker = new google.maps.Marker({
				    position: new google.maps.LatLng(m_lat, m_lon),
				    map: map,
				    title: toDisplay[i]["short_name"],
				    infowindow: infowindow,
				    customId: customId });
		    markers[customId] = marker;
		    google.maps.event.addListener(marker, 'click', function() {
		        setActiveMarker(this.customId);
		    });
		}
		map.setZoom(12);
	    }

	    google.maps.event.addListener(map, "click", function(event) {
		google.maps.Map.prototype.myLocation.setPosition(event.latLng);
	        var latitude = document.getElementById("latitude");
	        var longitude = document.getElementById("longitude");
	        latitude.setAttribute("value", event.latLng.lat());
	        longitude.setAttribute("value", event.latLng.lng());
	    });

	    $('.dropdown-menu').on('click', function(e) {
	        if($(this).hasClass('dropdown-menu-form')) {
		    e.stopPropagation();
	        }
	    });

	    $('.list-group-item').on('click', function(e) {
	        customId = $(this).attr("id");
		setActiveMarker(customId);
	    });

	    $("#resetButton").on('click', function(e) {
	        for (var i = 0; i < markers.length; i++) {
		    if (markers[i]) { // Can be undefined due to the array construction
		        markers[i].setMap(null);
		    }
		}
		$("#found").hide();
		map.setZoom(8);
	    });
	}
    </script>

    <style>
        ul.dropdown-menu-form {
	  padding-left: 2%;
	  max-height: 150px;
	  overflow-y: scroll;
	}

        #map-canvas {
	  height: 400px;
          margin-top: 20px;
	  margin-bottom: 20px;
          padding: 0px;
	}

	html {
	  position: relative;
	  min-height: 100%;
	}

	body {
	  margin-bottom: 60px;
	}

	#footer {
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  height: 60px;
	  background-color: #f5f5f5;
	}

	.container .text-muted {
	  margin: 20px 0;
	  text-align: center;
	}
    </style>

  </head>
  <body onload="initialize(<%= lat %>, <%= lng %>, <%= toDisplay %>)">
    <div class="container">

      <div class="row">
	<div class="col-md-6">
	  <div class="row" style="padding-bottom: 2%">
	    <h1>sport-y</h1>
	    <p class="lead">
	      Проведи досуг в Москве спортивно!
	    </p>
	  </div>
	  <div class="row" id="start">
	    <p>
	      Укажите на карте точку.<br>Мы найдём места активного отдыха не дальше 3 км от неё!
	    </p>
	  </div>

	  <% if (toDisplay) { %>
	  <div class="row" id="found">
	    <h3>Мы нашли:</h3>
	    <div class="list-group" style="margin-top: 5%; width: 75%">
	      <% var toDisplayParsed = JSON.parse(toDisplay); %>
	      <% for (var i = 0; i < toDisplayParsed.length; i++) { %>
		 <a href="#" id="<%= i %>" class="list-group-item"><%= toDisplayParsed[i]["short_name"] %> (<%= toDisplayParsed[i]["dst"].toFixed(3) %> км)</a>
	      <% } %>
	    </div>
	  </div>
	  <% } %>
	</div>

	<div class="col-md-6">
	  <div id="map-canvas"></div>
	  <div class="row">
	    <div class="col-md-8">
	      <form class="form-inline" enctype="application/x-www-form-urlencoded" action="/" method="post">
		<div class="form-group">
		  <div class="dropdown">
		    <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">Показывать места из категорий <b class="caret"></b></a>
		    <ul class="dropdown-menu dropdown-menu-form" role="menu">
		      <% var categories = [ 'Ледовые поля (крытые)', 'Лыжные базы', 'Площадки для кёрлинга', 'Площадки для сноуборда', 'Площадки спортивные универсальные в парках', 'Ледяные горки в парках', 'Места для зимней рыбалки в парках', 'Оборудованные места для зимнего купания в парках', 'Снежные горки в парках', 'Снежные городки', 'Трассы для снегоходов, квадроциклов, ездовых упряжек и прочего', 'Универсальные зоны отдыха в парках', 'Автодромы спортивные', 'Зоны отдыха у воды', 'Летние эстрады, сцены', 'Лодочные станции', 'Места для летнего купания', 'Парки (включая парки не подведомственные)', 'Площадки детские игровые', 'Площадки для настольных игр', 'Площадки для пикника', 'Роллердромы, скейтпарки', 'Автодромы детские учебные', 'Бассейны плавательные крытые', 'Бассейны плавательные открытые', 'Велопарковки', 'Горнолыжные склоны Москвы', 'Городки веревочные', 'Городки тренажерные (воркауты)', 'Городки тренажерные универсальные', 'Гребные базы и каналы', 'Дорожки беговые-прогулочные', 'Лыжные трассы города Москвы', 'Открытые ледовые катки города Москвы', 'Площадки для городошного спорта', 'Площадки для пляжных видов спорта', 'Площадки пейнтбольные', 'Площадки спортивные универсальные', 'Поля для гольфа', 'Поля для мини-гольфа', 'Поля конно-спортивные для конкура и выездки', 'Поля регбийные', 'Поля футбольные', 'Прокаты спортивного инвентаря (отдельностоящие)', 'Скалодромы', 'Станции проката велосипедов', 'Стрелковые тиры', 'Стрельбища', 'Теннисные корты' ];
		     categories.sort();
			 for (var i = 0; i < categories.length; i++) { %>
			 <li>
			   <label class="checkbox">
			     <input type="checkbox" name="<%= categories[i] %>" value="">
			     <%= categories[i] %>
			   </label>
			 </li>
			 <% } %>
		    </ul>
		  </div>
		</div>
		<input type="hidden" id="latitude" name="latitude" value="">
		<input type="hidden" id="longitude" name="longitude" value="">
		<button type="submit" class="btn btn-default">Найти</button>
	      </form>
	    </div>
	    <div class="col-md-4">
	      <button type="button" id="resetButton" class="btn btn-default">Очистить</button>
	    </div>
	  </div>
	</div>
      </div>

    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted">Sport-y &#0169; 2014. Favicon by <a href="http://icons8.com/">Visual Pharm</a>.</p>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
